@import '../../style/variable';

.input_box {
  // border: 0.1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 10px;

  &_wrapper {
    position: relative;
  
    &_input {
      padding: 1.5rem 1rem;
      width: 100%;
      height:65px;
      min-height: 65px;
      max-height: 65px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1;
      color: $secondary-color;
      border: 1px solid #d9dee9;
      border-radius: 6px;
      background-color: transparent;
      transition: 0.3s all ease-in-out;
      font-family: $rubic-font-family;
      // &:focus + .input_box_wrapper_label,
      // &.filled + .input_box_wrapper_label {
      //   background-color: $background_bg;
      //   top: -11px;
      //   left: 1.5rem;
      //   padding:0 0.8rem;
      //   font-size: 20px;
      //   z-index: 2;
      // }
  
      &:focus {
        border: 1px solid $secondary-color;
      }
    }

    &_textarea {
      padding: 1.5rem 1rem;
      width: 100%;
      height: 180px;
      min-height: 180px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1;
      color: $secondary-color;
      border: 1px solid #d9dee9;
      border-radius: 6px;
      background-color: transparent;
      transition: 0.3s all ease-in-out;
      font-family: $rubic-font-family;
      // &:focus + .input_box_wrapper_label,
      // &.filled + .input_box_wrapper_label {
      //   background-color: $background_bg;
      //   top: -11px;
      //   left: 1.5rem;
      //   padding:0 0.8rem;
      //   font-size: 20px;
      //   z-index: 2;
      // }
  
      &:focus {
        border: 1px solid $secondary-color;
      }
    }
  }


  &_error_text {
    width: 100%;
    text-wrap: wrap;
    margin-top: 16px;
    padding: 0 1.2rem;
    color: red;
    font-size: 16px;
    line-height: 16px;
  }
}

// ::placeholder{
//   color: #ABABAB;
// }