@import '../../style/variable';

.editor {
  &_col_1 {
    padding: 20px;
    height: 100vh !important;
    overflow-y: scroll;
    place-content: start !important;
    input {
      border: 1px solid #cdcdcd !important;
      padding: 8px 10px;
      margin-top: 5px;
      border-radius: 5px;
      &::after{
        border-bottom: none !important;
      }
      &:hover:not:before{
        border-bottom: none !important;
      }
    }
    
    &_title{
     padding: 15px 0px;     
    }
    .DownArrow{
      margin-left: 10px;
      margin-top: 5px;
     }
  }
  &_col_2{
    padding: 20px;
    place-content: start !important;
  }
}
.timepicker_content{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  span{
    margin: 0px 5px;
  }
}
.DemoContainer{
  flex-direction: column !important;
}
.textfield {
  min-width:135px !important;

}
.closebtn{
  height: 30px;
  width: 40px;
  background-color: $white-color !important;
  color: $secondary-color;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Addbtn{
  background-color: $white-color !important;
  color: $secondary-color;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 6px 10px;
  margin-top: 10px;
}
