.editor {

  &_col_1 {
    padding: 20px;
    height: 92vh;
    place-content: start !important;
    .input {
      border: 1px solid #cdcdcd !important;
      color:  red !important;
    }
  }
  &_col_2{
    padding: 20px;
    place-content: start !important;
  }
}
