  @import "../../style/mixin";
  @import "../../style/variable";

  .headerview_content {
    position: relative;
    margin: 100px auto 0px;
    padding: 0px 20px;
    @include respond-to("extra_large_desktop") {
      max-width: 1499px;
    }
    &_col_1 {
      place-content: start !important;
      &_content {
        @include respond-to("small_tablet") {
          display: flex;
          justify-content: space-between;
        }
        @include respond-to("phone") {
          display: flex;
          justify-content: space-between;
        }
        @include respond-to("small_phone") {
          display: flex;
          justify-content: space-between;
        }
      .title {
        display: flex;
        align-items: center;
        h1 {
          font-size: 48px;
          font-family: $Dosis-font-family;
          margin-right: 20px;
          @include respond-to("small_tablet") {
            font-size: 40px;
          }
          @include respond-to("phone") {
            font-size: 32px;
          }
          @include respond-to("small_phone") {
            font-size: 25px;
            margin-right:9px;
          }
        }
        img {
          width: 37px;
          height: 37px;
          @include respond-to("small_phone") {
            width: 25px;
            height: 25px;
          }
        }
      }
      span {
        font-family: $rubic-font-family;
        color: #8c8c8c;
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
       
        @include respond-to("phone") {
          font-size: 14px;
        }
        @include respond-to("small_phone") {
          font-size: 12px;
          line-height: 12px;
        }
      }
      .mobileshow_button {
        margin-top: 10px;
        display: flex;
        @include respond-to("small_tablet") {
          display: none;
        }
        @include respond-to("phone") {
          display: none;
        }
        @include respond-to("small_phone") {
          display: none;
        }
        .social_link {
          &_item {
            img {
              border: 1px #ffa72b dashed;
              margin-right: 15px;
              border-radius: 17px;
              height: 45px;
              width: 45px;
              padding: 10px;
            }
          }
        }
        
      }
      &_mobileshow {
        display: none;
        @include respond-to("small_tablet") {
          display: flex;
        }
        @include respond-to("phone") {
          display: flex;
        }
        @include respond-to("small_phone") {
          display: flex;
        }
      }
    }
  }
  &_col_2 {
    text-align: right;
    @include respond-to("phone") {
      text-align: left;
    }
    &_content {
      display: flex;
      justify-content: flex-end;
      @include respond-to("small_tablet") {
        display: none;
      }
      @include respond-to("phone") {
        display: none;
      }
      @include respond-to("small_phone") {
        display: none;
      }
    }

    &_note_content {
      text-align: left;
      .content_title {
        background-color: #fff0d9;
        padding: 17px 27px;
        border-radius: 20px;
        h5 {
          color: $primary-color;
          font-size: 16px;
          font-weight: 700;
          font-family: $rubic-font-family;
          margin-bottom: 10px;
        }
        p {
          color: $primary-color;
          font-size: 15px;
          font-weight: 400;
          font-family: $rubic-font-family;
          line-height: 20px;
        }
        .conclus {
          margin-top: 20px;
          text-align: right;
        }
      }
    }
    &_mobileshow {
      display: none;
      @include respond-to("small_tablet") {
        margin-top: 15px;
        display: flex;
        justify-content: center;
      }
      @include respond-to("phone") {
        margin-top: 15px;
        display: flex;
        justify-content: center;
      }
      @include respond-to("small_phone") {
        margin-top: 15px;
        display: flex;
        justify-content: center;
      }
      .social_link {
        &_item {
          img {
            border: 1px #ffa72b dashed;
            margin-right: 15px;
            border-radius: 17px;
            height: 45px;
            width: 45px;
            padding: 10px;
          }
        }
      }
    }
   &_content_wrapper {
      margin-bottom: 25px;
      display: flex;
      .contact_btn {
        background-color: #feb543;
        border-radius: 8px;
        padding: 10px;
        color: $white-color;
        font-size: 12px;
        margin: 0px 5px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond-to("phone") {
          border-radius: 50%;
        }
        .title_btn {
          color: $white-color;
          background-color: #feb543;
          font-size: 12px;
          padding: 10px;
          height: 40px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include respond-to("phone") {
            display: none;
          }
        }
    
        svg {
          margin-left: 6px;
          vertical-align: middle;
          font-size: 14px;
          color: $white-color;
          margin-top: -2px;
          @include respond-to("phone") {
            margin-top: 0px;
            font-size: 16px;
            margin-left: 0px;
          }
        }
      }
    }
    
  }
}
