.device_wrapper {
  &_frame {
    flex-grow: 1;
    height: 88vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    border: 6px solid #000;
    margin: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -20px;
    border-radius: 20px;
    // border-bottom: none;
  }
  &_nav_btns {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      border: none;
      background-color:transparent;
      margin: 20px;
    }
  }
}
