@import "../../style/variable";
@import "../../style/mixin";

.social_link {
  display: flex;
  &_item {
    margin: 20px 0px;
    img {
      border: 1px #ffa72b dashed;
      margin-right: 10px;
      border-radius: 17px;
      height: 45px;
      width: 45px;
      padding: 10px;
    }
  }
  @include respond-to("small_tablet") {
    display: none;
  }
  @include respond-to("phone") {
    display: none;
  }
  @include respond-to("small_phone") {
    display: none;
  }
}
