@import "../../style/variable";

.social_link {
  &_item {
    img {
      border: 1px #ffa72b dashed;
      margin-right: 15px;
      border-radius: 17px;
      height: 45px;
      width: 45px;
      padding: 10px;
    }
  }
}
