@import "../../style/variable";
@import '../../style/mixin';

.section_wrapper {
   margin-bottom: 80px;
   position: relative;
  h2 {
    font-family: $Dosis-font-family;
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
    position: relative;
    @include respond-to("small_tablet") {
      text-align: center;
      }
      @include respond-to("phone") {
        text-align: center;
        font-size: 24px;
      }
    &::before {
      content: "";
      position: absolute;
      bottom: -20px;
      height: 2px;
      left:0px;
      width: 100px;
      background: $primary-color;

      @include respond-to("small_tablet") {
      text-align: center;
      left: calc(50% - 50px);
      }
      @include respond-to("phone") {
        text-align: center;
        left: calc(50% - 50px);
      }
    }
  }

}
