@import "../../style/variable";
@import "../../style/mixin";

.section_wrapper {
  margin-bottom: 80px;
  position: relative;
  @include respond-to('small_tablet'){
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-family: $Dosis-font-family;
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
    position: relative;
    display: inline-flex;
    @include respond-to("phone") {
      font-size: 24px;
    }
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      bottom: -17px;
      left: 0;
      width: 60%;
      right: 0;
      background: $primary-color;

      @include respond-to("small_tablet") {
        text-align: center;
        right: 0;
      left: auto;
      }
      @include respond-to("phone") {
        text-align: center;
        right: 0;
        left: auto;
      }
    }
  }
}
