$Dosis-font-family: "Dosis", sans-serif;
$rubic-font-family: "Rubik", sans-serif;

$primary-color: #ED6D39;
$secondary-color: #000000;
$white-color: #ffff;

$btn-primary: #FFA72B;
$btn-secondary :#D9D9D9;


