@import "../../style/mixin";
@import "../../style/variable";

.footer_wrapper {
  margin: 80px auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 80px;
  @include respond-to("extra_large_desktop") {
    max-width: 1499px;
  }
  @include respond-to("large_tablet") {
    padding-top: 0px;
    padding-bottom: 80px;
  }
  @include respond-to("small_tablet") {
    padding-top: 0px;
    padding-bottom: 80px;
  }
  @include respond-to("phone") {
    padding-top: 0px;
    padding-bottom: 80px;
  }
  &_col_1 {
    padding: 0px 20px 0px;
    margin-bottom: 20px;
    h1 {
      font-size: 40px;
      font-family: $Dosis-font-family;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 10px;
      @include respond-to("phone") {
        font-size: 34px;
      }
    }
    p {
      font-size: 18px;
      font-family: $Dosis-font-family;
      font-weight: 400;
      line-height: 25px;
      color: #aeaeae;
    }
    &_content {
      display: flex;
      align-items: center;
      &_icon {
        display: flex;
        align-items: center;
        .icon {
          margin-top: 15px;
          margin-right: 25px;
          .imageclass {
            width: 33px !important;
            height: 33px !important;
          }
        }
      }
    }
  }
  &_col_2 {
    padding: 0px 20px 0px;
    &_content {
      padding: 0px;
      &_icon {
        display: flex;
        align-items: center;
        height: 60px;
        .icon {
          height: 80px;
          width: 80px;
          margin-right: 20px;
          padding: 16px 20px;
          background-color: #fff0d9;
          border-radius: 14px;
          @include respond-to("large_tablet") {
            border-radius: 0px 14px 14px 0px;
          }
          @include respond-to("small_tablet") {
            border-radius: 0px 14px 14px 0px;
          }
          @include respond-to("phone") {
            border-radius: 0px 14px 14px 0px;
          }

          .imageclass {
            background-color: $white-color;
            color: $primary-color;
            padding: 10px;
            font-size: 45px;
            border-radius: 8px;
            height: 45px;
            width: 45px;
          }
        }
        span {
          font-family: $rubic-font-family;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}
