@import "../../style/variable";
@import "../../style/mixin";

.header {
  .header_Container {
    position: relative;
    .header_image {
      width: 100%;
      max-height: 230px;
      object-fit: cover;
      @include respond-to("small_phone") {
        display: none;
      }
    }
    .headerimage {
      width: 100%;
      max-height: 230px;
      display: none;
      @include respond-to("small_phone") {
        display: block;
      }
    }
    .header_back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 260px;
      z-index: -1;
      @include respond-to("small_phone") {
        display: none;
      }
    }
    .headerback {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 260px;
      z-index: -1;
      display: none;
      @include respond-to("small_phone") {
        display: block;
      }
    }
    .logo_wrapper {
      background-color: #ffff;
      position: absolute;
      left: 12%;
      top: 50%;
      height: 170px;
      width: 170px;
      padding: 25px;
      border-radius: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      @include respond-to("desktop") {
        top: 45%;
      }
      @include respond-to("large_tablet") {
        top: 42%;
      }
      @include respond-to("small_tablet") {
        height: 140px;
        width: 140px;
        top: 37%;
      }
      
      @include respond-to("phone") {
        height: 120px;
        width: 120px;
        top: 36%; 
      }
      @include respond-to("small_phone") {
        height: 120px;
        width: 120px;
        top: 60%;
      }
      &:after {
        content: "";
        position: absolute;
        border: 8px solid $primary-color;
        height: 170px;
        width: 170px;
        filter: blur(1px);
        border-radius: 150px;
        @include respond-to("small_tablet") {
          height: 140px;
          width: 140px;
        }
        @include respond-to("phone") {
          height: 120px;
          width: 120px;
        }
      }
      .header_logo {
        width: 110px;
        @include respond-to("small_tablet") {
          width: 80px;
        }
        @include respond-to("phone") {
          width: 70px;
        }
      }
    }
  }
}
